<div>
    <header class="layout__header">
        <button class="layout__header--btn">
            <img class="icon" src="" alt="">
        </button>
        <h2 class="layout__header--title"></h2>

        <div class="layout__top__circle">
            <div></div>
        </div>
        <div class="layout__botton__circle">
            <div></div>
        </div>
    </header>

    <section class="layout__container">
        <main class="layout__main">
            <!--  -->
        </main>

        <footer class="layout__footer">
            <!--  -->
        </footer>
    </section>
</div>