<div class="welcome__layout">
  <div class="welcome__layout--container">

    <section class="welcome__layout--brand">
      <h1>Make it</h1>
      <img src="/brand/logo.png" alt="brand logo">
    </section>

    <section class="welcome__layout--info">
      <article class="info--purpose">
        <h2>Bienvenido</h2>
        <p>Vivimos para hacer tu vida más sencilla al ofrecerte la posibilidad de llevar el control de todas tus tareas
          desde un
          solo lugar, de la mejor manera.</p>
      </article>
      <article class="info--cta">
        <a type="button" id="cta--login__btn">Inicia Sesión</a>
        <a type="button" id="cta--signup__btn">Regístrate</a>
      </article>
    </section>
  </div>



  <div class="top__circle">
    <div></div>
  </div>
  <div class="botton__circle">
    <div></div>
  </div>
</div>